body {
  font-family: Calibri, Arial, sans-serif;
  margin: 0px;
  background: #f7f7f7;
  display: grid;
  gap: 50px;
  justify-items: center;
  margin-top: 50px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

.header {
  display: grid;
  justify-items: center;
  gap: 50px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}

.menu a {
  display: block;
  background: #fff;
  padding: 13px 18px;
  border-radius: 5px;
  color: #000;
  text-transform: uppercase;
}

.conteudo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
}

.introducao {
  background: #fff;
  padding: 35px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 18px;
  place-items: center end;
}

.detalhe {
  width: 50px;
  height: 3px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -25px;
}

.botao {
  background: #e21;
  color: #fff;
  padding: 18px 24px;
  border-radius: 5px;
  text-transform: uppercase;
}

.subtitulo {
  font-size: 80px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
  padding: 50px;
  align-self: center;
}

.vantagens {
  background: #fff;
  padding: 50px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 15px;
  padding: 10px;
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
